{% extends 'proyectowebapp/base.html' %}

{% load static %}

<title>{% block title %}Contacto {% endblock %}</title>

{% block styles %}<link rel="stylesheet" href="{% static 'css/contacto.css' %}">{% endblock %}


{% block content%} 

    <div class="container">
        <div class="titulo">
            <h2>Contacto</h2>
        </div>

        <div class="container" id="contenedor-general">
            <div>
                <h3>Somos D.A Mejia</h3>
                <p>
                    Para un contacto mas cercano comuniquese a este numero: 23432324324
                </p>
            </div>
        </div>
        
    </div>
{% endblock %}