<footer>
            
    <div class="container">

        {% comment %} <div class="foo-row">

            <div class="foo-col-display-felx">
                <ul>
                   <li><a href="http://">Productos</a></li>
                   <li><a href="http://">Nosotros</a></li>
                   <li><a href="http://">Contacto</a></li>
                   <
                </ul>
            </div>

        </div> {% endcomment %}
        <div class="centrar">
            <h3>DA MEJIA</h3>
        </div>
    </div>

</footer>

<div class="foo-copy">
    <div class="container">
        <p>DA MEJIA 2024 © Todos los derechos reservados</p>
    </div>
</div>