{% load static %}

<div class="hm-header">
    <div class="container">
        <div class="header-menu">
            <div class="hm-logo">
                <a href="#">
                    <img src="{% static 'imagenes/logoDAMEJIA.png' %}" alt="">
                </a>
            </div>
            <nav class="hm-menu">
                <ul>
                    {% if request.user.is_authenticated %}
                        
                        <span class="bienvenida">¡Bienvenido a D.A Mejia!</span>
                        {% if user.is_superuser %}
                            <li><a href="{% url 'admin:index' %}" class="enlace-header">Panel de Administración</a></li>
                            <li><a href="{% url 'Historial' %}" class="enlace-header">Historial</a></li>
                        {% endif %}
                        
                        <li><a href="{% url 'Home' %}" class="enlace-header">Productos</a></li>
                        <li><a href="{% url 'Nosotros' %}" class="enlace-header">Nosotros</a></li>
                        <li><a href="{% url 'Contacto' %}" class="enlace-header">Contacto</a></li>
                        <li><a href="{% url 'cerrar_sesion' %}" class="enlace-header">Cerrar Sesión</a></li>
                    {% else %}
                        <a href="{% url 'Autenticacion' %}" class="enlace-header">Registrarse</a>
                        <a href="{% url 'logear' %}" class="enlace-header">Iniciar Sesión</a>
                    {% endif %}
                    
                </ul>
                
                <div class="icon-menu">
                    <button type="button"><i class="fas fa-bars"></i></button>
                </div>
            </nav>
        </div>
    </div>
</div>   

<hr>


