{% extends 'proyectowebapp/base.html' %}

{% load static %}

<title>{% block title %}Contacto {% endblock %}</title>
{% block styles %}<link rel="stylesheet" href="{% static 'css/nosotros.css' %}">{% endblock %}

{% block content%} 

    <div class="container">
        <div class="titulo">
            <h2>Sobre Nosotros</h2>
        </div>
        <div class="container">
            <div>
                <h3>Misión</h3>
                <p>
                    Nuestra misión en SynthForge es proporcionar soluciones tecnológicas innovadoras y de alta calidad a las empresas en Cúcuta y más allá, a través del desarrollo de páginas web y aplicaciones de escritorio. 
                    Buscamos simplificar y mejorar las operaciones diarias de nuestros clientes, brindándoles herramientas eficientes que optimicen sus procesos y les permitan alcanzar sus objetivos empresariales de manera efectiva.
                </p>
            </div>
            <div id="contenedor-general">
                <h3>Visión</h3>
                <p>
                    Nuestra visión es convertirnos en el principal referente de desarrollo de software en Cúcuta, reconocidos por nuestra excelencia en la creación de soluciones tecnológicas personalizadas. 
                    Aspiramos a contribuir al crecimiento y la transformación digital de las empresas de la región, siendo conocidos por nuestra capacidad para ofrecer productos innovadores, confiables y orientados al cliente.
                </p>
            </div>
        </div>
    </div>


{% endblock %}