{% extends 'proyectowebapp/base.html' %}

{% load static %}

<title>{% block title %}Contacto {% endblock %}</title>
{% block styles %}<link rel="stylesheet" href="{% static 'css/nosotros.css' %}">{% endblock %}

{% block content%} 

    <div class="container">
        <div class="titulo">
            <h2>Sobre Nosotros</h2>
        </div>
        <div class="contenido">
            <p>Somos DA Mejia una empresa de...
                Mision....
                Vision ...</p>
        </div>
    </div>


{% endblock %}