{% extends 'proyectowebapp/base.html' %}

{% load static %}

{% block title %}Registro{% endblock %}

{% block styles %}<link rel="stylesheet" href="{% static 'css/registro.css' %}">{% endblock %}

{% load crispy_forms_tags %}

{% block content%} 
    
    
    
    <div class="container">
        <a href="{% url 'Home' %}">Volver al Inicio</a>
        <h1 class="titulo">Registrate</h1>
        <div class="centrar">
        
        
            
            
            
            <form method="post" action="" style="color:black;">
                {% csrf_token %} 
                <div style="width:75%; margin:auto;">
                    {{ form.username|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.password1|as_crispy_field }}
                    {{ form.password2|as_crispy_field }}
                    <div class="div-button">
                        <button type="submit" class="btn btn-success">Registrate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}