.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

a{
    text-decoration: none;
}

#contenedor-general{
    margin-top: 150px;
    margin-bottom: 250px;
}