{% extends 'proyectowebapp/base.html' %}

{% load static %}

<title>{% block title %}Inicio {% endblock %}</title>

{% block styles %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}

{% load crispy_forms_tags %}

{% block content%} 
    
    <div class="container">
        
        {% if messages %}
        <div class="row">
            <div class="col-md-12">
                <ul class="alert alert-secondary" role="alert">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <div style="float:right;"> 
        
            {% if request.user.is_authenticated %}
                {% include "carro/widget.html" %}
            {% else %}
                <div class="alert alert-danger text-center">Inicia sesión para ver el carro.</div> 
            {% endif %}
        </div> 
        
    
        <div class="row">
            {% for producto in productos %}
                <div class="col-md-3">
                    <div class="card" style="width:100%; margin:10px 5px;">
                        <img src="{{producto.imagen.url}}" style="height:20%;" class="card-img-top">
                        <div class="card-body" style="text-align:center;">
                            <h6 class="card-title">{{producto.nombre}}</h6>
                            <p class="card-text">Precio: {{producto.precio}}</p>
                            {% if producto.cantidad <= 0 %}
                            <p class="card-text">No hay stock</p>
                            {%else %}
                                <p class="card-text">Stock: {{producto.cantidad}}</p>
                            {% endif %}
                            
                        </div>
                        <div class="card-footer text-center">
                            {% if producto.cantidad > 0 %}
                                <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
                            {%else %}
                                <a class="btn btn-danger">No hay stock</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        

    </div>

{% endblock %}