{% extends 'proyectowebapp/base.html' %}

{% load static %}

{% block title %}Inicio Sesión{% endblock %}

{% block styles %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}

{% load crispy_forms_tags %}

{% block content%} 
    
    <div class="container">
        <a href="{% url 'Home' %}">Volver al Inicio</a>
        <h3 class="titulo">Iniciar Sesión</h3>
        <div class="div-centrar">
            <form method="post" action="" style="color:white;">
                {% csrf_token %} 
                <div>
                    {% if messages %}
                        {% for mensaje in messages %}
                            <span style="color:red;"> {{ mensaje }} <span>
                        {% endfor%}
                    {% endif %}
                    {{ form|crispy }}
                    <div class="div-button">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}